<%- include('../partials/header') %>

<main class="main" id="rivalFormMain">
    <div class="container">
        <form action="http://localhost:3000/api/hero-rival">
            <div class="row row-cols-1 row-cols-md-4 row-cols-lg-5 g-4">
                <% rivals.forEach(rival => { %>
                    <div class="col">
                        <figure class="figure rival-figure">
                            <img src="/images/<%= rival.img_url %>" alt="A picture of a hero"  class="img-fluid rival-image">
                            <figcaption class="figcaption">
                                <div class="form-check">
                                    <input 
                                    type="checkbox" 
                                    value="<%= rival.rival_id %>" 
                                    id="rival<%= rival.rival_id%>" 
                                    class="form-check-label" 
                                    name="rival_id[]">
                                    <label for="rival <%=rival.rival_id %>">
                                        <%= rival.rival %>
                                    </label>
                                </div>
                            </figcaption>
                        </figure>
                    </div>

                <% }) %>
            </div>
            <button type="submit" role="button" class="btn btn-primary">Add Rivals</button>
        </form>
    </div>
</main>

<%- include('../partials/footer') %>